{% extends "ebikes_app/base.html" %}

{% block cuerpo %}
<div class="container-fluid p-3">
    <div style="background-color: rgba(194, 190, 190, 0.2);">
        <h4>Formulario de ingreso de nuevos usuarios</h4>
    </div>
   
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ formulario }}
        </table>
        <br>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
    </form>
    <h2>{{mensaje}}</h2>
</div>
{% endblock %}